## Intro to Pandas

#### NUMPY and PANDAS

In [1]:
#import libraries 
import numpy as np 
import pandas as pd

In [6]:
#check whats in my current working directory 
!ls

casestudyH4All.ipynb           h4Aextracolumndefinitions.docx
data for class                 image.png
data for class.zip

In [10]:
#move to a sub directory to check i have the files 
!cd /date_for_class

/bin/bash: line 0: cd: /date_for_class: No such file or directory

In [ ]:
#check the files are there and their names
!ls

In [ ]:
#move up one directory (to working folder) 
cd ..

In [ ]:
#read the first file - its a csv
file1=pd.read_csv('Healthcare/file1.csv')

In [ ]:
#check the file 
file1.shape

In [ ]:
#review the numeric properties and stats 
file1.describe()

In [ ]:
#look at the info -including the nulls 
file1.info()

In [ ]:
#review the top few rows 
file1.head()

In [ ]:
#read the second file in - its a txt file, tab separated 
file2=pd.read_csv('Healthcare/file2.txt',sep='\t')

In [ ]:
#check the file 
file2.head()

In [ ]:
#check the same number of columns in the two files. 
# we could also check the headers are matching !
file2.shape

In [ ]:
file1.shape

In [ ]:
#read the file 3 - its an excel
file3=pd.read_excel('Healthcare/file3.xlsx',engine='openpyxl')

In [ ]:
#same for file4 
file4=pd.read_excel('Healthcare/file4.xlsx',engine='openpyxl')

In [ ]:
#for excel you might need an extra package. 
#i am checking to see if installed
#if not installed, then I close down jupyter, go to the terminal 
#and install the package with conda install openpyxl 
!conda install openpyxl

In [ ]:
#set column headers - this is not always necessary, but its good practice
columns=file1.columns

In [ ]:
#check the variable 
columns

In [ ]:
#create data frame 
data=pd.DataFrame(columns=columns)

In [ ]:
data

In [ ]:
#join the data frame with the first file 
data=pd.concat([data,file1],axis=0)

In [ ]:
#join the data frame with the other files 
data=pd.concat([data,file2,file3,file4],axis=0)

In [ ]:
#check the data frame - should be 4028 rows 
data.info()

In [ ]:
data.head()

## some cleaning steps 
- change headers to lower case 
- revision of for loops

In [ ]:
cols=[]
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())

#this is the function : data.columns.lower()

In [ ]:
data.columns=cols

In [ ]:
data.head()

### drop columns

In [ ]:
datanew=data.drop(['controln','hv1'],axis=1)

In [ ]:
datanew.head()

#### Look at the end of the data with tail - notice the index is not refreshed?

In [ ]:
datanew.tail()

In [ ]:
datanew.info()

### reset index !

In [ ]:
datanew.reset_index(drop=True, inplace=True)

## filtering the data frame using subsets or query()

In [ ]:
filtered=datanew[(datanew['state']=='FL')&(datanew['gender']=='M')]

## california + females + avg gift greater than $10

In [ ]:
# 252 

filtered2=datanew[(datanew['state']=='CA')&(datanew['gender']=='F')&(datanew['avggift']>10)]

In [ ]:
filtered2.shape

### same using .query()

In [ ]:
filtered3=datanew.query('gender=="F"&state=="CA"&avggift>10')

In [ ]:
filtered3.info()

In [ ]:
filtered3[['state','gender','avggift']]

## data cleaning - dtypes

In [ ]:
#im going back to the original data frame... 
data.shape

In [ ]:
data.dtypes

In [ ]:
# first we tried changing the column hv1 to a float 
#but then noticed it contains some strings - the dtype change does not work

In [ ]:
data['hv1'].astype('float',errors='ignore')

In [ ]:
data.dtypes()

In [ ]:
#lets use this function instead which has a coerce argument 

data['hv1']=pd.to_numeric(data['hv1'],errors='coerce')

In [ ]:
data['ic1']=pd.to_numeric(data['ic1'],errors='coerce')

In [ ]:
data['ic3']=pd.to_numeric(data['ic3'],errors='coerce')

In [ ]:
data['ic5']=pd.to_numeric(data['ic5'],errors='coerce')

In [ ]:
data.dtypes

### Some useful functions to look into a column

In [ ]:
data['hvp1'].unique()

In [ ]:
data['hvp1'].value_counts()

### drop duplicate rows - this is a function

- without key arguments, we are only dropping complete duplicate rows

In [ ]:
data=data.drop_duplicates()

In [ ]:
data.shape

## extract resulting data frame as csv

In [ ]:
data.to_csv('Healthcare/day1.csv',index=False)