In [124]:
import pandas as pd 
import numpy as np

from wordcloud import WordCloud # for wordclouds
import re
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from nltk.stem import PorterStemmer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB
import pickle

import matplotlib.pyplot as plt
import seaborn as sns

In [125]:
import pandas as pd
import re
import string
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import numpy as np

# Import Kaggle Data

In [126]:
df=pd.read_csv('/Users/AFROARC/Documents/GitHub/BCNDATA1021/Projects/Messy_data/Kaggle_Data/alldata.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [128]:
df

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

In [130]:
df['location'].value_counts()

Seattle, WA            563
New York, NY           508
Cambridge, MA          487
Boston, MA             454
San Francisco, CA      425
                      ...
New York, NY 10171       1
Fort Lee, NJ             1
New York, NY 10021       1
Carlstadt, NJ 07072      1
New York, NY 10032       1
Name: location, Length: 382, dtype: int64

## standarize data

### lower case all fields

In [ ]:
### Drop reviews column.
df.drop(['reviews'], axis = 1, inplace = True) 
df.info()

In [ ]:
def clean_text(text):
    text = str(text)
    text = text.replace("\n"," ")
    return text.lower()

In [ ]:
df["clean_description"] = df["description"].apply(clean_text)

In [ ]:
sentences = []
sent_word_sets = []
for row in df.iterrows():
    desc = row[1].clean_description
    word_tokens = nltk.word_tokenize(desc)
    sentences.append(word_tokens)
    sent_word_sets.append(set(word_tokens))

## extract positions

In [131]:
df['position'].value_counts()

Data Scientist                               351
Senior Data Scientist                         96
Research Analyst                              64
Data Engineer                                 60
Machine Learning Engineer                     56
                                            ...
Vice President of Marketing and Community      1
Sr. eCommerce Marketing Analyst                1
Acquisition Marketing Manager                  1
NAMR Recruiting Lead - Gamma                   1
Principal Data Scientist, Deep Learning        1
Name: position, Length: 5242, dtype: int64

### Top 20 poition mentions

In [ ]:
df['description'].value_counts()

In [ ]:
#top 5 poisition by title
positions = df['position'].value_counts()
top20 = list(positions.index)[:20]
top20

In [ ]:
# print(df['description'].value_counts())

In [ ]:
#top 5 poisition by title
descriptions = df['description'].value_counts()
top20d = list(descriptions.index)[:20]
top20d